<header class="header">
  <div class="container">
    <nav class="header-navbar">
      <a class="logo" href="./index.html">
        <img src="../img/logo.svg" width="16" height="16" />
        ШТРАФ-КОНРОЛЬ
      </a>
      <ul class="header-list">
        <li class="header-item"><a href="">Чем поможем</a></li>
        <li class="header-item"><a href="">Отзывы</a></li>
        <li class="header-item"><a href="">Прайс</a></li>
        <li class="header-item"><a href="">Контакты</a></li>
      </ul>
      <a class="account-login" id="openModalBtn1">
        <svg class="icon-account">
          <use href="../img/icons.svg#icon-account"></use>
        </svg>
      </a>

      <button
        class="burger-menu-btn"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="header-burger-icon" width="32" height="22">
          <use href="../img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
