<div id="myModal" class="modal">
    <div class="modal-content">
      <svg class="close" width="24" height="24">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
      <div class="modal-text-container">
        <svg class="modal-error-icon" width="36" height="36">
          <use href="./img/icons.svg#icon-error"></use>
        </svg>
        <h2 class="modal-title">Erorr</h2>
        <p class="modal-text">На данный момент функция недоступна</p>
      </div>
    </div>
  </div>