<section class="usefull-section">
    <div class="container">
        <h2 class="usefull-title"></h2>
        <ul class="usefull-list">
            <li class="usefull-list-item">
                <h3></h3>
                <svg>
                    <use></use>
                </svg>
                <p></p>
            </li>
            <li class="usefull-list-item">
                <h3></h3>
                <svg>
                    <use></use>
                </svg>
                <p></p>
            </li>
            <li class="usefull-list-item">
                <h3></h3>
                <svg>
                    <use></use>
                </svg>
                <p></p>
            </li>
            <li class="usefull-list-item">

            </li>
            <li class="usefull-list-item">
                <h3></h3>
                <svg>
                    <use></use>
                </svg>
                <p></p>
            </li>
            <li class="usefull-list-item">
                <h3></h3>
                <svg>
                    <use></use>
                </svg>
                <p></p>
            </li>
        </ul>
    </div>

</section>