<section class="usefull-section">
  <div class="container">
    <h2 class="usefull-title">В чем мы можем вам помочь</h2>
    <ul class="usefull-list">
      <li class="usefull-list-item">
        <h3 class="list-title">Поиск штрафов и долгов</h3>
        <img
          class="usefull-item-img"
          src="../img/policeman.png"
          width="40"
          height="40"
        />
        <p class="usefull-item-text">
          Поиск осуществляется по базам данных Судебных приставов, ГИБДД,
          Налоговой службы
        </p>
      </li>
      <li class="usefull-list-item">
        <h3 class="list-title">Система мониторинга новых штрафов и долгов</h3>
        <img
          class="usefull-item-img"
          src="../img/monitor.png"
          width="32"
          height="32"
        />
        <p class="usefull-item-text">
          Мы проверяем наличие новых штрафов или долгов по всем вашим объектам
        </p>
      </li>
      <li class="usefull-list-item">
        <h3 class="list-title">Проверить на участие в ДТП</h3>
        <img
          class="usefull-item-img"
          src="../img/harm.png"
          width="48"
          height="48"
        />
        <p class="usefull-item-text">
          Поиск осуществляется по базам данных Судебных приставов, ГИБДД,
          Налоговой службы
        </p>
      </li>
      <li class="usefull-list-item">
        <h3 class="list-title">Фильтровать штрафы и проезды ЦКАД</h3>
        <p class="usefull-item-text">
          По ТС, по сроку скидки, дате нарушения, просрочке оплаты, выгрузке
          времени и места нарушения, фотографии нарушения
        </p>
      </li>
      <li class="usefull-list-item">
        <h3 class="list-title">Быстрая оплата онлайн</h3>
        <img
          class="usefull-item-img"
          src="../img/calendar.png"
          width="32"
          height="32"
        />
        <p class="usefull-item-text">
          Оплата долгов и штрафов картой любого банка
        </p>
      </li>
      <li class="usefull-list-item">
        <h3 class="list-title">Оплачивать в один клик</h3>
        <img
          class="usefull-item-img"
          src="../img/bank.png"
          width="32"
          height="32"
        />
        <p class="usefull-item-text">
          массовая оплата штрафов и проездов ЦКАД в один клик с гарантией
          погашения
        </p>
      </li>
    </ul>
  </div>
</section>
